<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django CRM</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>

    <script

    '.message .close')
    .on('click', function() {
    $(this)
    .closes
</head>
<head>t('.message')
    .transition('fade')
    ;
    })
    ;
    ></script>
</head>
  <body>
    {% include 'navbar.html' %}
   <div class="ui container" >
     <br/>
       {% if messages %}
        {% for message in messages %}
           <div class="ui warning message">
               <i class="close icon"></i>
                <div class="header">
            {{message}}
                </div>

            </div>
        {% endfor %}
       {% endif %}

    {% block content %}
    {% endblock %}
   </div>

  </body>

</html>

