
  <div class="ui secondary  menu">
    <a class="active item" href="{% url 'home' %}">Sirius CRM</a>
        {% if user.is_authenticated %}
          <a class="item" href="{% url 'add_records' %}"><i class="address book outline icon"></i></i>Add Contact</a>

    <a class="item" href="{% url 'logout' %}"> <i class="log out icon"></i>Logout</a>

    {% else %}

          <a class="item" href="{% url 'register' %}"><i class="pencil alternate icon" style="visibility: visible;"></i>Register</a>


    {% endif %}

      </ul>
    </div>
  </div>
