{% extends 'base.html' %}
{% block content %}



<div class="ui container">
  <div class="ui card">
    <div class="content">
      <i class="right floated star icon"></i>
      <div class="header">
        {{ customer_record.first_name }} {{ customer_record.last_name }}
      </div>
      <div class="description">
        <p>Email: {{ customer_record.email }}</p>
        <p>Phone: {{ customer_record.phone }}</p>
        <p>Address: {{ customer_record.address }}</p>
        <p>City: {{ customer_record.city }}</p>
        <p>State: {{ customer_record.state}}</p>
      </div>
    </div>
    <div class="extra content">
      <span class="">
        <a
          class="ui inverted red button"
          href="{% url 'delete_record' customer_record.id %}"
        >
          Delete
        </a>
      </span>
      <span class="right floated star">
        <a
                class="ui inverted orange button"
                href="{% url 'update_record' customer_record.id %}"
        >
          Update
        </a>
      </span>
    </div>
  </div>




{% endblock %}