{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Register</h1>
<br/>
      <form class="ui form" method="POST" action ="" >
        {% csrf_token %}
          	{% if form.errors %}
			<div class="ui warning message transition hidden">
				<i class="close icon"></i>

			  Your Form Has Errors
				<div class="header">
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
				</div>
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}

          {{ form.as_p}}

      <br/>
            <button class="ui inverted primary button">Register</button>
               </form>
</div>

{% endblock %}